.terraform.lock.hcl
terraform.tfstate

.terraform/
terraform.tfstate.backup

deployer_key 
deployer_key.pub
.tfstate*

.terraform/

.terraform.tfstate

.terraform.tfstate.backup

.terraform.lock.hcl

.terraform.tfvars

.terraform.tfvars.json
terraform.tfvars